API_URL=
INGEST_TOKEN=
DEVICE_ID=my-pc
DEVICE_LABEL=Desktop PC
# optional overrides
# CODEX_HOME=
# XDG_DATA_HOME=
# ANTI_AVG_INPUT=6000
# ANTI_AVG_OUTPUT=2000
# ANTI_AVG_CACHED=1000
# PRICING_CACHE_DIR=
